<% content_for :title do %>
  Slowwly &middot; A test service to mock a slow api response; responds to get and post methods
<% end %>

<div id="root" class="container">
  <div class="section">
    <div class="row">
      <a id="go"></a>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center indigo-text text-lighten-3"><i class="mdi-editor-format-list-bulleted"></i></h2>
          <h5>Why</h5>

          <p class="light">Make a request to Slowwly to simulate a slow response, configurable delay in millisecs.</p>
          <p class="light">Test how your application responds to a slow response from external service or api.</p>
          <p class="light">Example of one second delay to google.co.uk: <a href="<%= base_url %>/delay/1000/url/http://google.co.uk"><%= base_url %>/delay/1000/url/http://google.co.uk</a></p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center indigo-text text-lighten-3"><i class="mdi-communication-business"></i></h2>
          <h5>How</h5>

          <p class="light">Supported HTTP methods:</p>
          <dl>
            <dt>GET</dt>
            <dd>Responds with <code>HTTP 302</code></dd>
            <dt>POST</dt>
            <dd>Responds with <code>HTTP 307</code></dd>
          </dl>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center indigo-text text-lighten-3"><i class="mdi-action-settings"></i></h2>
          <h5>Parameters</h5>

          <p class="light">Build a URL with the following params:</p>
          <code>
            http://{host}/delay/{delay_time}/url/{url}
          </code>
          <dl>
            <dt><code>host</code></dt>
            <dd>The host where this app is running</dd>
            <dt><code>delay_time</code></dt>
            <dd>Time to delay response in milliseconds</dd>
            <dt><code>url</code></dt>
            <dd>The URL to redirect to via response</dd>
          </dl>
        </div>
      </div>
    </div>

    <br><br>

    <div class="row">
      <div class="col s12">
        <h4>Enter URL / Select delay</h4>
        <div id="app" data-host="<%= base_url %>">
        </div>
      </div>
    </div>

    <br>

    <div class="section">
      <div class="terminal-window">
        <header>
          <div class="button green"></div>
          <div class="button yellow"></div>
          <div class="button red"></div>
        </header>
        <section class="terminal">
          # a simple get request with 1 second delay<br>
          $&nbsp;<span class="prompt"></span>
          <span class="typed-cursor">curl -i <%= base_url %>/delay/1000/url/https://www.google.co.uk</span>
          <pre class="history">
HTTP/1.1 302 Found
Content-Type: text/html;charset=utf-8
Location: https://www.google.co.uk
Content-Length: 0
# etc
          </pre>

          # a post request with some data and a 3 second delay<br>
          $&nbsp;<span class="prompt"></span>
          <span class="typed-cursor">curl -i --data "param1=value1" <%= base_url %>/delay/3000/url/http://myapi.com/endpoint</span>
          <pre class="history">
HTTP/1.1 307 Temporary Redirect
Content-Type: text/html;charset=utf-8
Location: http://myapi.com/endpoint
Content-Length: 0
# etc
          </pre>

          # an example get request with follow redirect enabled<br>
          $&nbsp;<span class="prompt"></span>
          <span class="typed-cursor">curl -i -L <%= base_url %>/delay/1000/url/https://www.google.co.uk/</span>
          <pre class="history">
HTTP/1.1 302 Found
Content-Type: text/html;charset=utf-8
Location: https://www.google.co.uk
Content-Length: 0
# etc

HTTP/1.1 200 OK
Cache-Control: private
Content-Type: text/html; charset=UTF-8
# etc
        </pre>
      </section>
    </div>
  </div>

  </div>
</div>

