<% content_for :title do %>
  Slowwly &middot; A test service to mock a slow api response; responds to get and post methods
<% end %>

<div class="jumbotron">
  <div class="container">
    <p>Slowwly</p>
    <p>A test service to mock a slow http response</p>
  </div>
</div>

<div class="container" id="root">

  <h3>Why / How</h3>

  <div class="row">
    <div class="col-md-4">
      <h2>Why</h2>
      <p>Make a request to Slowwly to simulate a slow response, configurable delay in millisecs.</p>
      <p>Test how your application responds to a slow request from external service or api.</p>
      <p>Example of one second delay to google.co.uk via browser: <a href="<%= base_url %>/delay/1000/url/http://google.co.uk"><%= base_url %>/delay/1000/url/http://google.co.uk</a></p>
    </div>

    <div class="col-md-4">
      <h2>How</h2>
      <p>Supported HTTP methods:</p>
      <dl>
        <dt>GET</dt>
        <dd>Responds with HTTP<code>302</code></dd>
        <dt>POST</dt>
        <dd>Responds with HTTP<code>307</code></dd>
      </dl>
    </div>

    <div class="col-md-4">
      <h2>Parameters</h2>
      <p>Build a URL with the following params:</p>
      <pre>
http://{host}/delay/{delay_time}/url/{url}
      </pre>
      <dl>
        <dt><code>host</code></dt>
        <dd>The host where this app is running</dd>
        <dt><code>delay_time</code></dt>
        <dd>Time to delay response in milliseconds</dd>
        <dt><code>url</code></dt>
        <dd>The URL to redirect to via response</dd>
      </dl>
    </div>

  <pre>
# a simple get request with 1 second delay
$ curl -i <%= base_url %>/delay/1000/url/http://google.co.uk
HTTP/1.1 302 Found
Content-Type: text/html;charset=utf-8
Location: http://google.co.uk
Content-Length: 0
# etc

# a post request with some data and a 3 second delay
$ curl -i --data "param1=value1" <%= base_url %>/delay/3000/url/http://myapi.com/endpoint
HTTP/1.1 307 Temporary Redirect
Content-Type: text/html;charset=utf-8
Location: http://myapi.com/endpoint
Content-Length: 0
# etc

# an example get request with follow redirect enabled
$ curl -i -L <%= base_url %>/delay/1000/url/http://google.co.uk
HTTP/1.1 302 Found
Content-Type: text/html;charset=utf-8
Location: http://google.co.uk
Content-Length: 0
# etc

HTTP/1.1 301 Moved Permanently
Location: http://www.google.co.uk/
Content-Type: text/html; charset=UTF-8
# etc

HTTP/1.1 302 Found
Location: https://www.google.co.uk/?gws_rd=ssl
Cache-Control: private
Content-Type: text/html; charset=UTF-8
# etc
  </pre>

  <%= render_partial :footer %>

</div> <!-- /container -->
